[core]
	editor = emacsclient -a emacs24
	excludesfile = ~/.gitignore-global
[user]
	name = Juan Pedro Bolívar Puente
	email = raskolnikov@gnu.org
	signingkey = 529BA962690A70B1
[push]
	default = simple
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	cp = cheery-pick
        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
[gui]
	fontdiff = -family Inconsolata -size 12 -weight normal -slant roman -underline 0 -overstrike 0
[credential]
	helper = cache --timeout=360000
