[submodule "xmonad/.xmonad/wallpaperd"]
	path = xmonad/.xmonad/wallpaperd
	url = http://projects.pekdon.net/git/wallpaperd.git
[submodule "_deps/gtk3-nocsd"]
	path = _deps/gtk3-nocsd
	url = https://github.com/PCMan/gtk3-nocsd
[submodule "xmonad/.themes/Numix"]
	path = xmonad/.themes/Numix
	url = git@github.com:arximboldi/Numix.git
[submodule "emacs/.emacs.d/lisp/cc-mode"]
	path = emacs/.emacs.d/lisp/cc-mode
	url = git@github.com:arximboldi/cc-mode.git
