style "taffybar-default" {
  color["black"] = "#000000"
  color["white"] = "#ffffff"
  color["green"] = "#00ff00"
  color["red"]   = "#ff0000"

  color["theme-dark-gray"] = "#0C0C0D"
  color["theme-light-gray"] = "#777"
  color["theme-red"] = "#E0DECA"

  bg[NORMAL]   = @theme-dark-gray
  fg[NORMAL]   = @theme-light-gray
  text[NORMAL] = @theme-light-gray
  fg[PRELIGHT] = @green
  bg[PRELIGHT] = @theme-dark-gray

  font_name = "Cantarell Bold 12"
}

style "taffybar-active-window" = "taffybar-default" {
  fg[NORMAL] = @theme-red
}

style "taffybar-notification-button" = "taffybar-default" {
  text[NORMAL] = @red
  fg[NORMAL]   = @red
}

widget "Taffybar*" style "taffybar-default"
widget "Taffybar*WindowSwitcher*label" style "taffybar-active-window"
widget "*NotificationCloseButton" style "taffybar-notification-button"
