style "taffybar-default" {
  color["black"] = "#000000"
  color["white"] = "#ffffff"
  color["green"] = "#00ff00"
  color["red"]   = "#ff0000"

  color["numix-dark-gray"] = "#0C0C0D"
  color["numix-light-gray"] = "#777"
  color["numix-red"] = "#F0544C"

  bg[NORMAL]   = @numix-dark-gray
  fg[NORMAL]   = @numix-light-gray
  text[NORMAL] = @numix-light-gray
  fg[PRELIGHT] = @green
  bg[PRELIGHT] = @numix-dark-gray

  font_name = "Cantarell Bold 12"
}

style "taffybar-active-window" = "taffybar-default" {
  fg[NORMAL] = @numix-red
}

style "taffybar-notification-button" = "taffybar-default" {
  text[NORMAL] = @red
  fg[NORMAL]   = @red
}

widget "Taffybar*" style "taffybar-default"
widget "Taffybar*WindowSwitcher*label" style "taffybar-active-window"
widget "*NotificationCloseButton" style "taffybar-notification-button"
