[Main]
Timeout=250
Timeout_Seconds=1
Use_Timeout_Seconds=true
Use_Click_Command=true
Click_Command=xfce4-taskmanager

[SL_Cpu]
Enabled=true
Use_Label=true
Color=#4242C7
Text=\ 

[SL_Mem]
Enabled=true
Use_Label=true
Color=#5ABF5A
Text=\ 

[SL_Swap]
Enabled=true
Use_Label=true
Color=#F0F000
Text=\ 

[SL_Uptime]
Enabled=false

